/* Base rules*/
* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #6c757d;
}

.r-p {
  padding-top: 80px;
  padding-bottom: 20px;
}

.bg-sec {
  background: #f8f9fa;
}

.r-btn {
  padding: 5px 20px;
  background-color: #ee8683 !important;
  color: #fff !important;
}

/*Navigation*/

nav.r-nav {
  background: transparent;
  padding: 20px 0;
  transition: 0.5s all;
}

nav .navbar-brand {
  font-size: 30px;
  color: #fff;
}
nav .navbar-nav li a {
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

nav .navbar-nav li {
  margin: 15px;
}

nav.r-nav.stickyadd {
  background: #fff !important;
  padding: 15px 0;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.5);
  transition: 0.5s all ease-in-out;
}

nav.stickyadd .navbar-brand {
  color: #000;
  font-size: 40px;
  transition: 0.5s all;
}

nav.stickyadd .navbar-nav .nav-link {
  color: #000 !important;
}

.navbar .hamburger {
  color: #fff;
}

nav.stickyadd .hamburger {
  color: #000;
}
/* Header Section */
header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-box {
  max-width: 700px;
  color: #fff;
}

.content-box h4 {
  font-size: 30px;
}
.content-box h1 {
  font-size: 52px;
}

.content-box a {
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 5px 25px;
}
.content-box a:hover {
  color: #000;
  background: #fff;
  transition: 0.5s all;
}

.content box p {
  color: #fff;
}

/*More Information*/

#about1 {
  padding: 50px;
  color: #fff;
  background: #000;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about1-col-1 {
  flex-basis: 35%;
}
.about1-col-1 img {
  width: 100%;
  border-radius: 15px;
}
.about1-col-2 {
  flex-basis: 60%;
}
.about1-col-2 h2 {
  margin-bottom: 10px;
  font-size: 40px;
}
.sub-title {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}
.tab-titles {
  display: flex;
  margin: 20px 0 20px;
}
.tab-links {
  margin-right: 50px;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links ::after {
  content: "";
  width: 0;
  height: 5px;
  background-color: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links:hover::after {
  width: 100%;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px;
}
.tab-contents ul li span {
  color: #aa0f40;
  font-size: 15px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

/*About US*/

.about li a {
  color: #000;
  display: inline;
  height: 42px;
  width: 42px;
  font-size: 20px;
  border: 2px solid #d4d4d4;
  border-radius: 40%;
  line-height: 40px;
  transition: 0.5s all;
  text-align: center;
}
.about li a:hover {
  color: #ee8683;
}

/*Experience Section*/

.exp-class .progress {
  height: 10px;
  border-radius: 20px;
  font-size: 10px;
}

.progress-bar {
  background-color: #ee8683 !important;
}

.exp-class label {
  font-size: 20px;
  margin: 10px;
}

/* Service Section */
.card,
.card-header {
  background: #f8f9fa !important;
}

.card-header {
  border: none !important;
}

.services-class .card-header {
  font-size: 50px;
}
.service-border {
  height: 2px;
  width: 40px;
  margin: 15px auto;
  background: #e65f78;
}

/* Testimony */
.testimony-class .text-itema {
  max-width: 500px;
  margin: 50px auto;
}

.testimony-class .test-item .test-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.testimony-class .test-item {
  color: #6c757d;
}

.test-item p.test-name {
  font-size: 11px;
}

/* Work */

.work .card-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Contact us*/

.contact .r-icon {
  font-size: 50px;
  text-align: center;
}

/*Footer*/

footer {
  height: 200px;
  background-color: #333333;
}
footer .r-icon {
  font-size: 20px;
  color: #848484;
  padding: 10px;
  border: 1px solid #848484;
  border-radius: 50%;
}

foooter.r-icon a:hover {
  border: 1px solid #eee;
  color: #eee;
  transition: 0.5s all;
}
